﻿@model IEnumerable<Torre.Models.Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.objective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.external)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {


<div style="background-color: gainsboro;max-width: 560px;position: relative; margin:auto">
    <h5>
        <span style="color:darkslateblue;font-size:20px">
            @Html.DisplayFor(modelItem => item.objective)
        </span>
    </h5>
    <span style="box-sizing: inherit;max-width: 100%;display: block">
        @Html.DisplayFor(modelItem => item.type)
    </span><!---->
    <span style="display: block">
        CloudScale
    </span>
    <span style="display: block">
        <i><!----> public</i>
        @Html.DisplayFor(modelItem => item.remote)

    </span>
   
</div>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.objective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.external)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Index", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>

    }

</table>